{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">  
</head>
<body>
  <img class="fixed-top" src="{% static 'emotions/img/home.png' %}" alt="" style="width:100%; height:100%; z-index : -2;">
  
  <div class="text-center">
    <img src="{% static 'emotions/img/comment.png' %}" alt="" style="z-index : 2; width: 300px; height:300px;">
    <div class="comment" style="font-size: 2rem; position:fixed; right:80px; top:100px; z-index: 4;">
      <p style="margin:0;">대화 해 주셔서</p>
      <p>감사해요!</p>
    </div>
  <div>
</body>
</html>